<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>CV</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <div class="cv-container">
    <!-- En-tête avec le nom (centré, couleur de fond) -->
    <header class="cv-header">
      <h1 id="full-name">{{profileName}}</h1>
      <h2>{{profileTitle}}</h2>
    </header>
    
    <!-- Section Informations personnelles -->
    <section class="cv-section personal-info">
      <h2>Informations personnelles</h2>
      <div class="info-details">
        <p><strong>Email :</strong> {{email}}</p>
        <p><strong>Téléphone :</strong> {{phone}}</p>
        <p><strong>Adresse :</strong> {{address}}</p>
      </div>
    </section>
    
    <!-- Section Profil -->
    <section class="cv-section profile">
      <h2>Profil</h2>
      <p>{{profileDescription}}</p>
    </section>
    
    <!-- Section Expérience professionnelle -->
    <section class="cv-section experience">
      <h2>Expérience professionnelle</h2>
      <div class="job">
        {{experienceList}} 
      </div>
    </section>
    
    <!-- Section Formation -->
    <section class="cv-section formation">
      <h2>Formation</h2>
      {{educationList}}
    </section>
    
    <!-- Section competences -->
    <section class="cv-section competences">
      <h2>Compétences</h2>
      <ul class="qualities-list">
        {{skillsList}}
      </ul>
  </section>
  

    <!-- Section Langue -->
    <section class="cv-section langue">
      <h2>Langues</h2>
      <ul class="language-list">
        {{languagesList}}
      </ul>
  </section>
      
    <!-- Section Qualités -->
    <section class="cv-section interet">
      <h2>Centre d'intérêt</h2>
      {{interestsList}}
  </section>
 
  </div>
</body>
</html>
