<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>CV - Adeline Petit</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>

  <div class="cv-container">
    <div class="header">
      <img class="photo" src="{{profileImg}}" alt="">
      <div class="header-info">
        <h1 id="full-name">{{profileName}}</h1>
        <p style="font-size: 1.3em;" class="web">{{profileTitle}}</p>
        <p>{{email}}</p>
        <p>{{phone}}</p>
        <p>{{address}}</p>
        
      </div>
    </div>

    <div class="sidebar">
      <section>
        <h2>COMPÉTENCES</h2>
        {{skillsList}}
      </section>

      <section>
        <h2>LANGUES</h2>
        {{languagesList}}
      </section>

       
      <section>
        <h2>CENTRES D'INTÉRÊT</h2>
        {{interestsList}}
      </section>
    </div>

    <div class="main">
      <section>
        <h2 class="title">PROFIL</h2>
        <p>
            {{profileDescription}}
        </p>
      </section>

      <section>
        <h2 class="title">FORMATION</h2>
        {{educationList}}
      </section>

      <section>
        <h2 class="title">EXPÉRIENCE PROFESSIONNELLE</h2>
        {{experienceList}}
      </section>

       
    </div>
  </div>

</body>
</html>
